<div class="card" draggable="true" style="cursor: move;
width: 300px;
margin: auto;" *ngIf="plugin" (dragstart)="onDragStart($event)">
    <div class="card-header">{{plugin.name}} #{{plugin.imageId}}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12" style="font-weight: bold;">Source URL</div>
            <div class="col-12">{{plugin.githubUrl}}</div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="onBtnOpenUrlInNewTab(plugin.githubUrl)">
            새 창에서 열기 <i class="fa fa-share-square-o"></i>
        </button>
    </div>
</div>