<div class="card" style="width: 300px;position: absolute;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;" [draggable]="drag == 'item'"
[id]="id"
                    [ngStyle]="getStyle()"
                    (dragstart)="onDragStart($event)"
                    (resized)="onResized($event)">
                    <div class="card-header">asdf #{{orderNum}}
                        <div class="card-header-actions" style="height: 21px;" >
                            <i class="fa fa-arrow-up" style="margin-right: 10px;cursor:pointer" (click)="onBtnSortChange(-1)"></i>
                            <i class="fa fa-arrow-down" style="cursor:pointer" (click)="onBtnSortChange(1)"></i>
                        </div>
                    </div>
                    <div class="card-body">asdf</div>
                    <div class="card-footer">asdf</div>
                </div>