<div
  class="card"
  style="height: 100%; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px"
>
  <div class="card-header">모의 실행</div>
  <div class="card-body"></div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-12">
        <div class="input-group">
          <input
            type="text"
            id="input1-group2"
            name="input1-group2"
            class="form-control"
            placeholder="텍스트 입력"
          />
          <span class="input-group-prepend">
            <button
              type="button"
              class="btn btn-primary"
              style="
                background-color: rgb(255, 225, 0);
                border-color: rgb(255, 225, 0);
                color: black;
              "
            >
              전송
            </button>
          </span>
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
</div>
