<div class="card link-card"
[draggable]="drag == 'item'"
[id]="id"
                    [ngStyle]="getStyle()"
                    (dragstart)="onDragStart($event)">
                    <div class="card-header">퀵 메뉴 응답</div>
                    <div class="card-body">
                        <div class="quickReply" *ngFor="let reply of data">{{reply.label}}</div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-primary">
                            버튼 추가
                        </button>
                    </div>
                </div>