<div class="animated fadeIn">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">Form</div>
        <div class="card-body"></div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <strong>Scheduler</strong>
          <div class="card-header-actions">
            <a
              href="https://valor-software.com/ngx-bootstrap/#/alerts"
              target="_blank"
            >
              <small className="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th style="text-align: center">월</th>
                <th style="text-align: center">화</th>
                <th style="text-align: center">수</th>
                <th style="text-align: center">목</th>
                <th style="text-align: center">금</th>
                <th style="text-align: center">토</th>
                <th style="text-align: center">일</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
