<div class="animated fadeIn container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <div class="card-header"><i class="fa fa-plus"></i> 추가</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="name">이미지 제목</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="name">이미지 태그</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="name">이미지 github 주소</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-sm btn-warning">Cancel</button>
          <button type="button" class="btn btn-sm btn-primary">Submit</button>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-6 col-lg-4 col-xl-3"
      *ngFor="let data of tableData"
    >
      <div class="card">
        <div class="card-header">
          이미지 #{{ data.imageId }}
          <div class="card-header-actions" style="height: 21px">
            <i
              class="fa fa-edit"
              style="cursor: pointer"
              *ngIf="focusedItem != data"
              (click)="onRowClicked(data)"
            ></i>
            <i
              class="fa fa-check"
              style="cursor: pointer"
              *ngIf="focusedItem == data"
              (click)="onBtnSubmitClicked(data)"
            ></i>
          </div>
        </div>
        <div class="card-body">
          <ng-container *ngIf="focusedItem == data">
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="name">이미지 제목</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="name">이미지 태그</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="name">이미지 github 주소</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
            </form>
          </ng-container>
          <ng-container *ngIf="focusedItem != data">
            <div class="row">
              <div class="col" style="font-weight: bold">이미지 제목</div>
            </div>
            <div class="row">
              <div class="col">{{ data.title }}</div>
            </div>
            <div class="row" style="font-weight: bold">
              <div class="col">태그</div>
            </div>
            <div class="row">
              <div class="col">
                <button
                  type="button"
                  class="btn btn-brand btn-sm btn-twitter mr-1"
                  style="margin-bottom: 4px"
                >
                  <span>{{ data.name }}</span>
                </button>
              </div>
            </div>

            <div class="row" style="font-weight: bold">
              <div class="col">Github Repo</div>
            </div>

            <div class="row">
              <div class="col">
                <button
                  type="button"
                  class="btn btn-brand btn-github mr-1"
                  style="margin-bottom: 4px"
                >
                  <i class="fa fa-github"></i>
                  <span>Github</span>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-sm btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
