<div class="animated fadeIn">
    <div class="row">
        <div class="col-4">
            <form class="card">
                <div class="card-header">
                    Form
                </div>
                <div class="card-body">
                    <ng-container *ngIf="currentBlock">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-4">blockId</div>
                            <div class="col-8">
                                <input type="text" name="blockId" class="form-control" placeholder=""
                                    [(ngModel)]="currentBlock.blockId" readonly disabled>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-4">name</div>
                            <div class="col-8">
                                <input type="text" name="name" class="form-control" placeholder=""
                                    [(ngModel)]="currentBlock.name" readonly disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">enabled</div>
                            <div class="col-8">
                                <label class="switch switch-3d switch-primary">
                                    <input type="checkbox" class="switch-input" checked readonly disabled>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-warning" (click)="onBtnCancelClicked()">Cancel</button>
                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                    <button type="button" class="btn btn-sm btn-primary" (click)="onSubmit()">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Search
                </div>
                <div class="card-body">
                    <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()" style="margin-bottom: 15px;">
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>
                                            Search</button>
                                    </span>
                                    <input type="text" id="input1-group2" name="input1-group2" class="form-control"
                                        placeholder="이미지 이름 검색" formControlName="searchImageName"
                                        [(ngModel)]="searchImageName">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row" *ngFor="let image of imageList">
                        <div class="col-12">
                            <div class="card" draggable="true" (dragstart)="onImageDragStart($event, image)"
                                data-type="image">
                                <div class="card-header">
                                    #{{image.imageId}}-{{image.name}}
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Remove</button> -->
                                    <div class="card-header-actions" style="height: 21px;">
                                        <!-- <label class="switch switch-sm switch-label switch-info" >
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                    </label> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="col-6">Image Source</div>
                                        <div class="col-6">
                                            {{image.githubUrl}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    List
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-right">
                            <div>
                                <ng-container *ngIf="currentBlock">
                                    <span style="min-height: 40px;
                                    display: inline-block;
                                    background-color: #ffe100;
                                    padding: 15px;
                                    margin-bottom: 15px;
                                    border-radius: 8px;
                                    font-weight: bold;
                                    line-break: auto;
                                    max-width: 50%;">{{currentBlock.name}}</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                        <div class="col" style="    font-weight: bold;
                        text-align: center;
                        margin-bottom: 15px;">START</div>
                        <div class="col">
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div
                                style="min-height: 250px;background-color: #c8ced3;padding: 15px;margin-bottom:15px;border-radius: 5px;">
                                <div class="row">
                                    <div class="col">
                                        <div style="height: 50px;
                                        border: dotted 4px #2f353a;
                                        margin-bottom: 15px;
                                        text-align: center;
                                        vertical-align: middle;
                                        line-height: 40px;
                                        font-weight: bold;" data-drop-target="true"
                                            (drop)="onImageOrRuntimeDropped($event, 0)" (dragover)="onDragOver($event)">
                                            Drag here.
                                        </div>
                                    </div>
                                </div>
                                <ng-container *ngFor="let runtime of runtimeList; let i = index">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card" draggable="true" data-type="runtime"
                                                (dragstart)="onRuntimeDragStart($event, runtime, i)">
                                                <div class="card-header">
                                                    <!-- <button type="button" class="btn btn-sm btn-danger">Remove</button> -->
                                                    이미지 이름: <ng-container *ngIf="runtime.imageId">{{runtime.image.name}}
                                                    </ng-container> 런타임 코드#{{runtime.blockRuntimeId}}
                                                    <div class="card-header-actions" style="height: 21px;">
                                                        <!-- <label class="switch switch-sm switch-label switch-info" >
                                                        <input type="checkbox" class="switch-input" checked>
                                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                                    </label> -->
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row" style="margin-bottom: 5px;">
                                                        <div class="col-6">Image Source</div>
                                                        <div class="col-6" *ngIf="runtime.imageId">
                                                            {{runtime.image.githubUrl}}
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-bottom: 5px;">
                                                        <div class="col-6">Internal URL</div>
                                                        <div class="col-6">
                                                            <input type="text" class="form-control" id="name"
                                                                placeholder="Enter your name"
                                                                [(ngModel)]="runtime.containerUrl" disabled readonly>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-bottom: 5px;">
                                                        <div class="col-6">Internal PORT</div>
                                                        <div class="col-6">
                                                            <input type="number" class="form-control" id="name"
                                                                placeholder="Enter your name"
                                                                [(ngModel)]="runtime.containerPort" disabled readonly>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-bottom: 5px;">
                                                        <div class="col-6">State</div>
                                                        <div class="col-6">
                                                            <select class="form-control" id="ccmonth"
                                                            (change)="onRuntimeStateChange(runtime)"
                                                            [disabled]="runtime.registerDatetime == null"
                                                                [(ngModel)]="runtime.containerState">
                                                                <option ngValue="start">start</option>
                                                                <option ngValue="stop">stop</option>
                                                                <option ngValue="down">down</option>
                                                                <option ngValue="ready">ready</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">Env</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <textarea id="textarea-input" name="textarea-input" rows="4"
                                                                class="form-control" placeholder="Content.."
                                                                [readonly]="runtime.registerDatetime != null"
                                                                [disabled]="runtime.registerDatetime != null"
                                                                [(ngModel)]="runtime.containerEnv"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <!-- <button type="button" class="btn btn-sm btn-warning">Cancel</button> -->
                                                    <button type="button" class="btn btn-sm btn-danger"
                                                    (click)="onBtnRemoveRuntime(i)"
                                                    [disabled]="(runtime.blockRuntimeId && (runtime.containerState != 'down' || runtime.containerState != 'stop'))"
                                                    >Delete</button>
                                                    <!-- <button type="button" class="btn btn-sm btn-primary">Submit</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div style="height: 50px;
                                            border: dotted 4px #2f353a;
                                            margin-bottom: 15px;
                                            text-align: center;
                                            vertical-align: middle;
                                            line-height: 40px;
                                            font-weight: bold;" data-drop-target="true"
                                                (drop)="onImageOrRuntimeDropped($event, i + 1)"
                                                (dragover)="onDragOver($event)">
                                                Drag here.
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                        <div class="col" style="    font-weight: bold;
                        text-align: center;
                        margin-bottom: 15px;">END</div>
                        <div class="col">
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-left">
                            <div>
                                <span style="min-height: 40px;
                                    display: inline-block;
                                    background-color: #ffe100;
                                    padding: 15px;
                                    margin-bottom: 15px;
                                    border-radius: 8px;
                                    font-weight: bold;
                                    line-break: auto;
                                    max-width: 120px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;" (click)="onBtnQuickAdd()">
                                    <i class="fa fa-plus"></i> 퀵 버튼 추가</span>
                                <ng-container *ngFor="let link of blockLinkedList; let i = index">
                                    <span style="min-height: 40px;
                                    display: inline-block;
                                    background-color: #ffe100;
                                    padding: 15px;
                                    margin-bottom: 15px;
                                    border-radius: 8px;
                                    font-weight: bold;
                                    line-break: auto;
                                    max-width: 120px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;" draggable="true"
                                        (dragstart)="onDragStartQuickBtn($event, i)"
                                        (drop)="onDragDropQuickBtn($event, i)" (dragover)="onDragOver($event)"
                                        (click)="onBtnQuickClicked(link, i)"> <i class="fa fa-edit"
                                            style="font-weight: bold;"></i> {{link.label}}</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #quickModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="modal-content" [formGroup]="quickForm">
            <div class="modal-header">
                <h4 class="modal-title">퀵 버튼 편집</h4>
                <button type="button" class="close" (click)="quickModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="select2">Action</label>
                    <div class="col-md-9">
                    <select id="select2" name="select2" class="form-control form-control-lg" formControlName="action" [(ngModel)]="editingQuick.action">
                        <option value="message">message</option>
                        <option value="webLink">webLink</option>
                    </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <label class="col-md-3 col-form-label" for="disabled-input">label</label>
                    <div class="col-md-9">
                      <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="" formControlName="label"
                      [(ngModel)]="editingQuick.label">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <label class="col-md-3 col-form-label" for="disabled-input">message</label>
                    <div class="col-md-9">
                      <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="" formControlName="messageText"
                      [(ngModel)]="editingQuick.messageText">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <label class="col-md-3 col-form-label" for="disabled-input">web link</label>
                    <div class="col-md-9">
                      <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="" formControlName="webLinkUrl"
                      [(ngModel)]="editingQuick.webLinkUrl">
                    </div>
                </div>


                <div class="row" style="margin-bottom: 15px;">
                    <label class="col-md-3 col-form-label" for="disabled-input">next block</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <button type="button" class="btn btn-primary" (click)="editingQuick.nextBlockId = null;"><i class="fa fa-cross"></i>
                                    reset</button>
                            </span>
                            <!-- <input type="text" id="input1-group2" name="input1-group2" class="form-control"
                               [(ngModel)]="editingQuick.nextBlockName" disabled readonly formControlName="nextBlockName"> -->
                               <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="" disabled readonly formControlName="nextBlockId"
                               [(ngModel)]="editingQuick.nextBlockId">
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <span class="input-group-prepend">
                        <button type="button" class="btn btn-primary" (click)="onBtnSearchBlockClicked()"><i class="fa fa-search"></i>
                            Search</button>
                    </span>
                    <input type="text" id="input1-group2" name="input1-group2" class="form-control"
                        placeholder="블록 이름 검색" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchBlockName">
                </div>

                <div class="row" style="max-height: 200px;overflow-y: auto; padding-top: 15px;">
                    <div class="col">
                        <div class="row" *ngFor="let block of searchedBlockList"
                        (click)="editingQuick.nextBlockId = block.blockId;">
                            <div class="col">
                                <div class="card" [ngStyle]="editingQuick && block.blockId == editingQuick.nextBlockId && { 'background-color': '#acb4bc' }">
                                    <div class="card-body">
                                      {{block.name}} #{{block.blockId}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="quickModal.hide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="onBtnQuickModalSubmit()">Save changes</button>
            </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>